.DS_Store
.pbxuser
.mode1
.mode1v3
.mode2v3
.perspective
.perspectivev3
.xccheckout
.moved-aside
.hmap
.o
.dat
.dep
.LinkFileList
.ipa
.dSYM.zip
.dSYM
.swp
*.xcuserstate
xcdebugger
~.nib/
*~
timeline.xctimeline
playground.xcworkspace
Pods/
Podfile.lock
